.newpost_container {
    width: 40.5rem;
    background-color: var(--secondary-dark);
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding-bottom: 0.25rem;

}
#newpost_profile_picture {
  margin-left: 0.5rem;
}

.post_input {
    flex: 1;
    min-height: 1.8rem;
    border-radius: 1.5rem;
    border: none;
    background-color: #4b4b4b;
    color: #fef3fe;
    font-size: clamp(0.5rem, 7vw, 1rem);
    padding-left: 0.5rem;
    padding-top: 0.7rem;
    margin-right: 0.75rem;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

#post_input {
  font-size: clamp(0.5rem , 7vw, 1rem);
}

.post_input:hover {
  background-color: #7a7676;
  transition: 150ms ease-in-out;
}

.post_input:focus {
    outline: none;
    border: solid 1px #383838;
}

.newpost_flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

.post_image_button {
    flex: 1;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: var(--blue-dark);
    font-size: clamp(0.85rem, 5vw, 1.1rem);
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
    position: relative;
    margin: 0 0.5rem;

}

.post_image_button:hover {
    background-color: var(--blue);
}

@media only screen and (max-width: 670px) {
  .newpost_container{
    width: 100%;
    max-width: 100%;
    margin: 0.5rem 0;
    border-radius: 0;
   } 

  .post_image_button {
    width: 95vw;
  }
}

@media only screen and (max-width: 312px) {
    .post_input {
        min-height: 1.25rem;
        font-size: 0.9rem;
        margin: 0.25rem 0;
        padding-top: 0.25rem;
    }
      .newpost_container {
        padding: 0;
      }
      .newpost_flex {
        padding: 0 ;
      }
      .post_image_button {
        height: 1.5rem;
        margin: 0.25rem 0;
        font-size: clamp(0.6rem, 7vw, 0.85rem);
      }

      #post_input {
        font-size: 0.85rem;
      }
}