.edit_profile_button {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4b4b4b;
    border: none;
    border-radius: 0.5rem;
    color: #fefefe;
    overflow: hidden;
    width: 8rem;
}

.personal_info_container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal_info_form {
    width: 35rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-dark);
    position: relative;
    z-index: 98;
}

.personal_info_header {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px #4b4b4b;
    font-size: clamp(0.8rem, 7.5vw, 1.3rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fef3fd;
}

.edit_info_input {
    flex: 1;
    height: 2.5rem;
    background-color: #383838;
    border: none;
    border-bottom: solid 2px #fefefe;
    color: #fefefe;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.edit_info_button {
    width: 2.5rem;
    margin-left: 0.25rem;
    font-size: 1.5rem;
    background-color: var(--blue-dark);
    color: #f3f3f3;
    border: none;
    cursor: pointer;
}

.edit_info_button_trash {
    width: 2.5rem;
    margin-left: 0.25rem;
    font-size: 1rem;
    background-color: rgb(202, 43, 43);
    color: #f3f3f3;
    border: none;
    cursor: pointer;
}

.edit_info_input::placeholder {
    opacity: 1;
    color: #d1cdcd;
}

.personal_info_flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
}

.submit_edit_profile_button {
    height: clamp(2rem, 7.5vw, 2.5rem);
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--blue-dark);
    color: #f3f3f3;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.2.5rem;
}

@media only screen and (max-width: 412px) {
    .edit_profile_button {
        font-size: 1rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
    }

    .edit_info_button_trash {
        display: none;
    }

    .disapear {
        display: none;
    }

    #homepage_edit_button {
        width: 7rem;
        border-radius: 0.25rem;
        height: 1.5rem;
        gap: 0.25rem;
    }

    #homepage_edit_button > .disapear {
        display: flex;
        font-size: 0.9rem;
    }
}