.scroll_container {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 1rem;
    border-radius: 1rem;
}

.scroll_button {
    position: absolute;
    top: 40%;
    z-index: 98;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #4b4b4b;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    color: #f3fef3;
    transition: 150ms ease-in-out;
    opacity: 0.7;
}

.scroll_button:hover {
    background-color: #7a7676;
    transition: 150ms ease-in-out;
}

.sb-l {
    left: 0.2rem;
}

.sb-r {
    right: 0.2rem;
}

.recommend_friends_container {
    transition: 500ms ease-in-out;
    height: 15rem;
    width: 39.5rem;
    background-color: var(--secondary-dark);
    border-radius: 1rem;
    display: flex;
    overflow-x: auto;
    gap: 0.5rem;
    align-items: center;
    padding:0 0.5rem;
    overscroll-behavior-inline: contain;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-align: center;
}

.recommend_friends_container::-webkit-scrollbar {
    height: 0;
}

.recommend_friends_container::scrollbar {
    height: 0;
}

.friend_recomendation {
    height: 95%;
    width: 11rem;
    min-width: 11rem;
    overflow: hidden;
    background-color: #383838;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f3fef3;
    text-decoration: none;
    cursor: pointer;
}

.friend_recomendation > p {
    font-size: clamp(0.75rem, 4vw, 1rem);
}

.recommended_profile_picture {
    width: 100%;
    height: 65%;
    margin-bottom: 0.25rem;
    transition: 250ms ease-in-out;
}

.recommended_profile_picture:hover {
    transform: scale(1.05);
    transition: 250ms ease-in-out;
}

.add_recomendation {
    width: 95%;
    height: clamp(1.5rem, 10vw, 1.75rem);
    margin-top: auto;
    margin-bottom: 0.25rem;
    background-color: var(--blue-dark);
    border: none;
    border-radius: 0.5rem;
    color: #fef3fe;
    cursor: pointer;
    transition: 250ms ease-in-out;
    font-size: clamp(0.75rem, 4vw, 1rem);
    gap: 0.15rem;
    z-index: 97;
}

.add_recomendation:hover {
    background-color: var(--blue);
    transition: 150ms ease-in-out;
}

.empty_recomended_message {
    font-size: clamp(0.75rem, 5vw, 1.25rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #7a7676;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
    text-align: center;
}

.empty_recomended_message > p {
    padding: 0 20%;
}

@media only screen and (max-width: 670px) {
    .recommend_friends_container {
        width: 98%;
        border-radius: 0;
        height: clamp(9.5em, 50vw, 12rem);
        padding: 0 1%;
    }
    .scroll_container {
        margin: 0;
        border-radius: 0;
    }

    .sb-l {
        left: 0.5rem;
    }

    .sb-r {
        right: 0.5rem;
    }

    .friend_recomendation {

        min-width: 9rem;
    }

    .recommended_profile_picture {
        height: 60%;
    }

    .scroll_button {
        width: clamp(2rem, 7.5vw, 2rem);
        height: clamp(2rem, 7.5vw, 2rem);
        max-width: 2.5rem;
    }
}