.post_container {
    width: 40.5rem;
    min-height: 20rem;
    background-color: var(--secondary-dark);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 1rem;
    overflow: hidden;
    font-size: clamp(0.9rem, 1vw, 1rem);
}

.post_header {
    width: auto;
    background-color: var(--secondary-dark);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.post_header_info_container {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}

.post_author_options {
    width: 1.75rem;
    height: 1.75rem;
    font-size: clamp(1.25, 7.5vw ,1.5rem);
    margin-left: auto;
    transition: 150ms ease-in-out;
    border-radius: 50%;
    padding: 0.25rem;
    cursor: pointer;
    position: relative;
}

#post_options_dropdown {
    min-height: 3rem;
    margin-top: -0.5rem;
}

.post_author_options:hover {
    background-color: #4b4b4b;
    transition: 150ms ease-in-out;
}

#post_header_info {
    margin-left: 0.5rem;
    font-size: clamp(0.85rem, 4vw ,0.95rem);
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.post_text_content {
    font-size: clamp(0.85rem ,4vw, 1rem);
}

.post_image {
    width: 100%;
    object-fit: cover;
    max-height: 40rem;
}

.post_footer {
    width: auto;
    background-color: var(--secondary-dark);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.post_likes_comments_flex {
    display: flex;
    justify-content: space-between;
    font-size: clamp(0.85rem, 5vw ,1.05rem);
    margin-bottom: 0.5rem;
}


#post_likes {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.post_options {
    display: flex;
    justify-content: space-evenly;
    margin: 0.25rem 0;
}

.post_option {
    width: 47.5%;
    height: clamp(1.25rem, 7.5vw, 2rem);
    border-radius: 0.5rem;
    cursor: pointer;
    gap: 0.25rem;
    font-size: clamp(0.85rem, 5vw ,1.05rem);
}

.post_option:hover {
    background-color: #4b4b4b;
    transition: 150ms ease-in-out;
}

.post_new_comment {
    width: 98%;
    display: flex;
    padding: 0 1%;
    margin: 0.5rem 0;
}

.post_new_comment_input {
    flex: 1;
    height: 1.75rem;
    padding-top: 0.75rem;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 1.5rem;
    border: none;
    background-color: #4b4b4b;
    color: #f3f3f3;
}

.post_new_comment_input::placeholder {
    color: #7a7676;
    font-weight: 600;
}

.post_new_comment_input:focus {
    outline: none;
    box-shadow: 0 0 3px #f3f3f3;
}

.post_new_comment_error {
    box-shadow: 0 0 3px #e60026;
}

@media only screen and (max-width: 670px) {
    .post_container {
        width: 100%;
        border-radius: 0;
        padding: 0;
        margin: 1rem 0;
    }
    .post_header {
        margin-right: 0.5rem;
        padding-left: 0.5rem;
    }
  }

  @media only screen and (max-width: 312px) {
    .post_new_comment_input {
        height: 1.5rem;
        padding-top: 0.5rem;
    }

    .post_header {
        padding: 0.2rem 0.3rem;
    }
  }