.skeleton {
    background-color: #383838;
    border-radius: 0.25rem;
}

.skeleton.title {
    height: 1.25rem;
    margin-bottom: 1rem;
}

.skeleton.text {
    height: 0.7rem;
    margin: 0.15rem;
}

.skeleton.width-100 {
    width: 100%;
}

.skeleton.width-50 {
    width: 50%;
}

.skeleton.profile_picture {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 0.25rem;
}

.skeleton.text_short {
    width: 4rem;
    height: 0.5rem;
    margin: 0.25rem;
}

.skeleton.post_image {
    width: 100%;
    height: clamp(10rem, 65vw, 32.5rem);
    margin: 0.5rem 0;
    margin-bottom: 0.1rem;
}

.skeleton_post_new_comment {
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
    margin-bottom: -0.3rem;
}

.skeleton.userinfo_profile_picture {
    border-radius: 50%;
}

.statistics_number {
    height: 2.5rem;
    width: 0.75rem;
}


/* Animation */

@keyframes pulse {
    50% {
        opacity: .5;
    }
}

.animate_pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}