.add_background_image_container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.add_background_image {
    width: 38rem;
    background-color: var(--secondary-dark);
    flex-direction: column;
    border-radius: 0.5rem;
    position: relative;
}

.add_background_header {
    color: #fefefe;
    height: 2.5rem;
    border-bottom: solid 1px #4b4b4b;
    width: 96%;
    padding: 0 2%;
    font-size: clamp(1rem, 3vw, 1.3rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background_image_area {
    width: 95%;
    height: clamp(7.5rem, 50vw, 17rem);
    border: dashed 1.5px var(--blue-dark);
    margin: 0.5rem 0;
    position: relative;
    overflow: hidden;
}

.background_image_preview {
    width: 100%;
    max-height: 17.5rem;
    z-index: 97;
}

.background_image_warning {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(0.75rem, 3vw, 1.1rem);
    color: #7a7676;
    z-index: 8;
}

.background_image_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: clamp(1.5rem, 10vw, 2.5rem)
}

.background_image_buttons > button {
    width: 46.5%;
    height: clamp(1.5rem, 7.5vw, 2.5rem);
    border-radius: 0.5rem;
    border: none;
    font-size: clamp(0.85rem, 3vw, 1.1rem);
    color: #fefefe;
}

#ri_button {
    background-color: rgb(210, 50, 50);
    margin-left: 0.5rem;
    cursor: pointer;
    font-size: clamp(0.65rem, 3vw, 1.1rem);
}

#ri_button:hover {
    background-color: rgb(228, 67, 67);
}

.background_image_button {
    width: 95%;
    height: clamp(1.5rem, 7.5vw, 2.5rem);
    border-radius: 0.5rem;
    border: none;
    background-color: var(--blue-dark);
    font-size: clamp(0.75rem, 3vw, 1.1rem);
    color: #fefefe;
    margin: 0.25rem 0;
    cursor: pointer;
}

.background_image_button:hover {
    background-color: var(--blue);
}

.background_image_file_input {
    width: 46.5%;
    background-color: #383838;
    height: clamp(1.5rem, 7.5vw, 2.5rem);
    border-radius: 0.5rem;
    font-size: clamp(0.5rem, 3vw, 1.1rem);
    color: #fefefe;
    overflow: hidden;
    position: relative;
}